/*!
  *Codes couleur
  *Gris : Hex #c6c6c8 Rgb (198,198,200)
  *Bleu clair : Hex #a4c5be Rgb (164,197,190)
  *Bleu : Hex #7f9d9d Rgb (127,157,157)
  *Vert : Hex #416856 Rgb (65,104,86)
  *Vert foncé : Hex #003d3a Rgb (0,61,58)
  *Noir (pour le texte) : Hex #131314 Rgb (19,19,20)
 */

 /*!
   *Typos
   *Titres : font-family: 'Inconsolata', monospace;
   *Paragraphes : font-family: 'Montserrat', sans-serif;
  */

  /* NAV*/
nav{
  background-color: #a4c5be;
  display: flex;
  justify-content: flex-start;
}

nav ul{
  display: flex;
  justify-content: flex-start;
}

  nav ul li{
    display: block;
    height: 50px
  }

  nav ul li a{
    display: block;
    height: 50px;
    color: #131314;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    padding: 0px 90px 0px 90px;

  }

  nav ul li:hover{
    background-color: #7f9d9d;
    cursor: crosshair;
  }

  nav ul li a:hover{
    color: white;
    cursor: crosshair;
  }




  /* Card*/

.col-lg-11 {
    margin: auto;
  }









  h1 {font-family: 'Inconsolata', monospace;
    color:#131314;
    text-align:justify;
    letter-spacing:10px;
  }

  h2 {font-family: 'Inconsolata', monospace;
  color:#131314;
  text-align:justify;
  letter-spacing:5px;
  }

  h3 {font-family: 'Inconsolata', monospace;
  color:#131314;
  text-align:justify;
  }

  h4 {font-family: 'Montserrat', sans-serif;
  color:#131314;
  text-align:justify;
  }

  h5 {font-family: 'Montserrat', sans-serif;
  color:#131314;
  text-align:justify;
  }

  h6 {font-family: 'Montserrat', sans-serif;
  color:#131314;
  text-align:justify;
  }

  p {font-family: 'Montserrat', sans-serif;
  color:#131314;
  text-align:justify;
  }








  .btn-primary {
    color: #131314;
    background-color: rgba(0,61,58, 0.5);
    border-color: #131314;
  }

  .btn-primary:hover {
    color: #131314;
    background-color: #ffffff;
    border-color: #131314;
  }
