/*!
  *Codes couleur
  *Gris : Hex #c6c6c8 Rgb (198,198,200)
  *Bleu clair : Hex #a4c5be Rgb (164,197,190)
  *Bleu : Hex #7f9d9d Rgb (127,157,157)
  *Vert : Hex #416856 Rgb (65,104,86)
  *Vert foncé : Hex #003d3a Rgb (0,61,58)
  *Noir (pour le texte) : Hex #131314 Rgb (19,19,20)
 */

 /*!
   *Typos
   *Titres : font-family: 'Inconsolata', monospace;
   *Paragraphes : font-family: 'Montserrat', sans-serif;
  */

nav{
  background-color: #a4c5be;
  display: flex;
  justify-content: flex-start;
}

nav ul{
  display: flex;
  justify-content: flex-start;
}

  nav ul li{
    display: block;
    height: 50px
  }

  nav ul li a{
    display: block;
    height: 50px;
    color: #131314;
    font-size: 40px;
    padding: 0px 75px 0px 75px;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
  }

nav ul li:hover {
  background-color: #7f9d9d;
  cursor: crosshair;
}

nav ul li a:hover {
  color: white;
  cursor: crosshair;
}




h1 {font-family: 'Inconsolata', monospace;}
h2 {font-family: 'Inconsolata', monospace;}
h3 {font-family: 'Inconsolata', monospace;}
h4 {font-family: 'Montserrat', sans-serif;}
h5 {font-family: 'Montserrat', sans-serif;}
h6 {font-family: 'Montserrat', sans-serif;}
p {font-family: 'Montserrat', sans-serif;}
